#para1 {font-family: "Comic Sans MS", cursive, sans-serif;
		width: 65%;
		margin-left: auto;
		margin-right: auto;
		background-color: beige;
				
	}
	
#title1 { font-family: Arial;}

#menu {	font-family: "Comic Sans MS", cursive, sans-serif;
		width:400px;
		margin-left: 15%;
		margin-right: auto;
		background-color: beige;
		float:left;
		
		}
		
#menu2 {font-family: "Comic Sans MS", cursive, sans-serif;
		width:400px;
		margin-left: auto;
		margin-right: auto;
		background-color: beige;
		float: left;}
		
#background {background-color: burlywood;}

#image { width: 500px;
		margin-left: auto;
		margin-right: auto;
		background-color: beige;
		}
		
#formr {text-align: right;
		margin-right:140px;}
		
ul		{list-style-type:none;
		margin:0;
		padding:0;
		float: left;
		}
		
img {
    height: auto;
    max-width: 100}
	
ol {list-style-type:none; }

#nav {float: left;
      }

