#para1 {font-family: Tahoma, Geneva, sans-serif;
		width: 55%;
		margin-left: auto;
		margin-right: auto;
		background-color: beige;
		padding-top:25px;
		padding-bottom:25px;
		padding-right:50px;
		padding-left:50px;
	}
	
#title1 { font-family: Arial;}

#menu {	font-family: Tahoma, Geneva, sans-serif;
		width:400px;
		margin-left: 10%;
		margin-right: auto;
		background-color: beige;
		float:left;
		
		}
		
#menu2 {font-family: Tahoma, Geneva, sans-serif;
		width:400px;
		margin-left: auto;
		margin-right: auto;
		background-color: beige;
		float: left;}
		
#menu3{	font-family: Tahoma, Geneva, sans-serif;
		width:600px;
		margin-left: 15%;
		margin-right: auto;
		background-color: beige;
		float:left;
		
		}
		
#background {background-color: burlywood;}

#image { font-family: Tahoma, Geneva, sans-serif;
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		background-color: beige;
		padding-top:25px;
		padding-bottom:25px;
		padding-right:50px;
		padding-left:50px;
		}
		
#formr {	text-align: right;
		margin-right: 220px;}
		
ul		{list-style-type:none;
		margin:0;
		padding:0;
		float: left;
		}
		
img {
    height: auto;
    max-width: 100}
	
ol {list-style-type:none;
	margin-right:35px}

#nav {float: left;
      }
	  
#cafe {float; left;}

